h1,
h2 {
  font-family: Lato;
}
.circle-grey {
  color: grey;
  border-color: grey;
  background-color: white;
}

.circle-white {
  border: none;
  color: white;
}

@keyframes movein {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes moveout {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
@keyframes bgin {
  from {
    background-color: white;
  }

  to {
    background-color: green;
  }
}

@keyframes bgout {
  from {
    background-color: green;
  }

  to {
    background-color: white;
  }
}
